SESSION_NAME=AQCJ8ElXIknV9XdyyQREV_Xk1rbJbfiqCaF321HR1ZfXfmtIgKkGR6GVLPXSJ88mkZtQ5c5pMzD4pNZAF1kQsmbz_HIhrV_p8abfMFLcRBMDSrwsXJaHlGoeLsSInUq6KLnZetQEWdMQclWfjRehnDql1UfaR-6zVhoMAn2Yr49W55pZee82JZ_hRqazd3VvtN46XPjIV5cEqopJH2Fw4XmCeW7QR8CiCmfWoZIc4xVFqDnB_ezMlejDNsYi7R5oA7COzd7n2ec3YY2sG5lYuAJ1lHsoV5msGoLbi3Ev8nAhgmjUsiyOZgNV5vTCqphhqKmnhK6-h-kSWqVaWRQED8ZuXXOvtQA
BOT_TOKEN=1747872977:AAHWV_cihQIpJLN9XfuupuQyXFrJ9o_iCGg
API_ID=3006926
API_HASH=d101606b37d1e2f7d7ad6e657d0b9664
SUDO_USERS=1776251355
DURATION_LIMIT=10
